.app.dark{
  --bg-color-main: #0A1F32;
  --bg-color-second: #2D384A;

  --primary-color: #FF4C2B;
  --secondary-color: #6f9db9;

  --color-text-main: #D2D2D2;
  --link-color: rgba(255, 43, 131, .75);
  --link-color-hover: #ff2b83;
}