.app.light {
  --bg-color-main: #fff;
  --bg-color-second: #deefe7;
  --primary-color: #159a9c;
  --secondary-color: #b4bec9;
  --color-text-main: #002333;
  --link-color: rgb(21 28 156 / 75%);
  --link-color-hover: #151c9c;
}
