.app.light{
  --bg-color-main: #FFFFFF;
  --bg-color-second: #DEEFE7;

  --primary-color: #159A9C;
  --secondary-color: #B4BEC9;

  --color-text-main: #002333;
  --link-color: rgba(21, 28, 156, .75);
  --link-color-hover: #151c9c;

}